<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aliangister.Properties.Settings.usinagem_alianca_dbConnectionString"
            connectionString="Data Source=JUN0675598W10-1\BDSENAC;Initial Catalog=usinagem_alianca_db;User ID=senaclivre;Password=senaclivre"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>